.hero {
  // General Styles
  display: flex;

  // Small Screens
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  // Medium Screens
  @media screen and (min-width: 600px) and (max-width: 960px) {
  }

  // Large Screens
  @media screen and (min-width: 768px) {
  }
}
