.info-selector {
  // General Styles
  display: flex;

  // Small Screens
  @media screen and (max-width: 600px) {
    border-top: 1px solid rgba(255, 255, 255, 0.26);
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    margin: 2rem 0;
  }

  // Medium Screens
  @media screen and (min-width: 600px) {
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    flex-direction: column;
    padding-top: 2rem;
  }
}

.selector {
  // General Styles
  display: flex;

  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.26);
  background-color: #070724;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 5px;
  text-align: left;

  padding: 1rem;

  .num {
    padding-right: 1rem;
  }

  .extra-text {
    padding-right: 0.25rem;
  }

  &:hover {
    background-color: #419ebb;
  }

  &:focus {
    background-color: #419ebb;
  }

  // Small Screens
  @media screen and (max-width: 600px) {
    border: none;
    text-align: center;
    padding: 1rem 0.25rem;
    margin-bottom: 2rem;
    align-self: center;

    margin-top: 2rem;

    span {
      display: none;
    }
  }

  // Medium Screens
  @media screen and (min-width: 600px) and (max-width: 960px) {
    background-color: red;
  }

  // Large Screens
  @media screen and (min-width: 960px) {
  }
}
