.mobile-menu {
  // General Styles

  // Small Screens
  @media screen and (max-width: 600px) {
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: absolute;
    z-index: 5;
    transition: menu 2s;

    animation: menu 2s forwards;

    @keyframes menu {
      from {
        opacity: 0;
        transform: translateX(-100vw);
      }
      to {
        opacity: 1;
        transform: translateX(0vw);
      }
    }
  }

  // Medium Screens
  @media screen and (min-width: 600px) {
  }

  // Large Screens
  @media screen and (min-width: 768px) {
  }
}
