.navigation {
  // General Styles
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
  text-transform: uppercase;
  font-size: 0.8rem;

  padding: 1rem 0;

  #brand,
  #nav-links a {
    color: white;
  }

  #nav-links a {
    padding-right: 2rem;
  }

  #nav-links a:hover {
    color: #419ebb;
  }

  #nav-links a:focus {
    color: #419ebb;
  }

  // Small Screens
  @media screen and (max-width: 600px) {
    .nav-links {
      display: none;
    }

    #hamburger-icon {
      background-image: url("../icon-hamburger.svg");
      height: 1rem;
      width: 3rem;
      margin-left: auto;
    }
  }

  // Medium Screens
  @media screen and (min-width: 600px) {
  }

  // Large Screens
  @media screen and (min-width: 768px) {
    .nav-links {
      margin-left: auto;
    }
  }
}
