.planet-info {
  // General Styles
  display: flex;
  flex-direction: column;
  // Small Screens
  @media screen and (max-width: 600px) {
  }

  // Medium Screens
  @media screen and (min-width: 600px) {
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    padding-top: 2rem;
    flex-basis: 50%;
  }
}

.info-text {
  // General Styles
  display: flex;
  flex-direction: column;

  h1 {
    text-transform: uppercase;
  }

  .planet-description {
    line-height: 2;
  }

  .planet-source,
  .planet-source a {
    color: rgba(255, 255, 255, 0.26);
  }

  .planet-source a {
    text-decoration: underline;
  }

  // Small Screens
  @media screen and (max-width: 600px) {
    text-align: center;

    h1 {
      font-size: 3rem;
      padding: 1rem 0;
    }

    .planet-description {
      line-height: 1.75;
    }

    .planet-description,
    .planet-source {
      font-size: 0.8rem;
    }
  }

  // Medium Screens
  @media screen and (min-width: 600px) and (max-width: 960px) {
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    width: 100%;

    h1 {
      font-size: 5rem;
      padding: 1rem 0;
    }
  }
}
