.planet-img {
  // General Styles

  // Small Screens
  @media screen and (max-width: 600px) {
  }

  // Medium Screens
  @media screen and (min-width: 600px) {
  }

  // Large Screens
  @media screen and (min-width: 768px) {
    padding: 15% 12.5%;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
