.planet-img {
  // General Styles

  // Small Screens
  @media screen and (max-width: 600px) {
  }

  // Medium Screens
  @media screen and (min-width: 600px) {
  }

  // Large Screens
  @media screen and (min-width: 768px) {
    padding: 15% 12.5%;
    padding-bottom: 0;
    width: 100%;
    flex-basis: 50%;

    #planet-pic {
      width: 100%;
    }

    #geo-pic {
      width: 50%;
      transform: translate(50%, -50%);
      padding: 0;
    }
  }
}
