.planet-img {
  // General Styles
  padding: 12%;
  padding-bottom: 0;
  width: 100%;
  flex-basis: 50%;

  #planet-pic {
    width: 100%;
  }
  #geo-pic {
    width: 50%;
    transform: translate(50%, -50%);
    padding: 0;
  }

  // Small Screens
  @media screen and (max-width: 600px) {
    padding: 25%;
    padding-right: 0;

    #planet-pic {
      width: 75%;
    }

    #geo-pic {
      width: 40%;
      transform: translate(45%, -50%);
      padding: 0;
    }
  }

  // Medium Screens
  @media screen and (min-width: 600px) and (max-width: 960px) {
  }

  // Large Screens
  @media screen and (min-width: 960px) {
  }
}
